.root {
  flex: 7;
}

.playersList {
  display: flex;
  flex-direction: column;
  row-gap: calc(24 / 18) + rem;

  max-height: 450px;
  overflow-y: overlay;

  padding-right: 2rem;
  margin-top: calc(12 / 18) + rem;
}

.player {
  display: flex;
  justify-content: space-between;

  column-gap: 2rem;

  font-size: calc(24 / 18) + rem;
}

.accentColor {
  color: var(--accent-primary-2);
}
