.root {
  display: flex;

  width: fit-content;

  padding-inline: calc(21 / 18) + rem;
  padding-block: calc(15 / 18) + rem;

  border: transparent 3px solid;
  border-radius: 50px;

  font-weight: 700;

  transition: all 0.2s linear;
}

.filled {
  --c: var(--accent-primary-2);

  color: #fff;
  background-color: var(--c);
  border-color: var(--c);

  &.disabled {
    --c: var(--accent-primary-1);
  }
}

.outlined {
  --c: var(--accent-primary-2);

  background-color: transparent;
  color: var(--c);
  border-color: var(--c);

  &.disabled {
    --c: var(--accent-primary-1);
  }
}
