html {
  font-family: var(--font-default);
  font-size: calc(18 / 16) + rem;
  line-height: 1.5em;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--soft-black);
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: calc(60 / 18) + rem;
}

h2 {
  font-size: calc(36 / 18) + rem;
}

h5 {
  color: var(--grey-3);
  font-size: calc(18 / 18) + rem;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a19f9f;
  border: none;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #d7d5d5;
  border: none;
  border-radius: 15px;
}
