@mixin colors {
  --accent-primary-1: #d6b0e8;
  --accent-primary-2: #af64d2;

  --accent-secondary-1: #feecdc;
  --accent-secondary-2: #fbb26f;

  --danger: #f69393;
  --error: #F9445A;

  --grey-1: #f9fafa;
  --grey-2: #babfc5;
  --grey-3: #75808a;

  --soft-black: #151719;
}

@mixin fonts {
  --font-default: "Montserrat", sans-serif;
}

:root {
  @include colors;
  @include fonts;
}
