.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  height: fit-content;
  font-size: calc(24 / 18) + rem;
  text-transform: capitalize;
}

.decorLine {
  flex: 1;
  height: 1px;
  opacity: 0.1;
  margin: 0 3rem;
}

.selfFilledStatus {
  font-size: calc(24 / 18) + rem;
}

.selfFilled {
  color: var(--accent-primary-2);
}

.selfUnfilled {
}
