@import "@/styles/mixins";

.root {
  display: contents;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: 3rem;
  column-gap: calc(3rem + 20px);

  margin-top: 60px;
}

.controls {
  display: flex;
  flex-direction: column;

  row-gap: 1rem;

  margin-top: auto;
}
