@import "@/styles/mixins";

.root {
  display: contents;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.code {
  letter-spacing: 3px;
  padding: 6px 9px;
  color: var(--grey-3);
  background-color: var(--grey-1);
  border-radius: 9px;
}

.players {
  display: flex;
  flex-direction: column;

  max-height: 350px;
  overflow-y: auto;

  row-gap: calc(16 / 18) + rem;

  margin-top: 89px;
}

.controls {
  display: flex;
  flex-direction: column;

  row-gap: 1rem;

  margin-top: auto;
}
